/* Colour palette:

Dark blue
#2c3e50

Orange
#e74c3c

Off-White
#ecf0f1

Light blue
#3498db

Slightly Darker Blue
#2980b9
*/

font-face {
    font-family: 'Inconsolata', sans-serif;
}

td {
    height: 50px;
    width: 50px;
    text-align: center;
    padding: 8px;
}

body {
    font-family: 'Inconsolata', sans-serif;
    height: 100%;
    margin: 0;
    background-color: #2c3e50;
    font-size: 1.5em;
    color: #29393d;
}



h1 {
    font-size: 2em;
}

.bg-image {
    height: 100vh;
    position: relative;
    background-image: url("../images/main-bg-image.jpg");
    /* filter: blur(6px); */
    background-size: cover;
    background-position: top center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.minLogo {
    width: 100%;
    position: absolute;
    top: 25%;
    left: 10%;
    /* margin-top: -150px; */
    /* backgrounsd-color: black; */
}

.heroText {
    font-size: 3rem;
    line-height: 3rem;
    margin-bottom: 1.5rem;
    font-weight: 250;
}

.lightDescription {
    font-size: 2.22rem;
    line-height: 2.2rem;
    margin-bottom: 1.75rem;
    font-weight: 300;
}



.github:hover img {
    content:url('../images/github-icon-blue.png');
}
.github:hover .flatText {
    color:#547CCD;
}
