/* 
M. K. DE SILVA
*/

font-face {
  font-family: 'Raleway', sans-serif;
}

body {
  font-family: 'Bellefair', serif;
  background-color:#fff9f2; 
  color:rgb(0, 0, 0);
  padding: 40px;
  margin: 10px;
  text-align: justify;
  transition: background-color .5s;
}

h2 {
  font-size: 1.5em;
}

/* Styling the hr line separator */
hr {
  border: 0;
  border-top: 4px double #F19FC0;
  text-align: center;
}

hr:after {
  content: '\2665';
  display: inline-block;
  position: relative;
  top: -15px;
  padding: 0 10px;
  background: #fff9f2; 
  color: #F19FC0;
  font-size: 18px;
}

.header-bg {
    height: 100vh;
    min-height: 500px;
    position: relative;
    background-image: url("./images/winter.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    overflow: hidden;
    display: flex;
    margin: -50px;
    flex-direction: column;
    /*align-items: center;*/
}

#border {
  /*padding: 0px 60px;*/
      height: 100px;
    width: 100%;
    position: absolute;
    top: 50%;
    margin-top: -300px;
}

#hero {
  text-align: center;
  /*border: 3px solid #F19FC0;*/
  padding-bottom: 15px;
}

.hero-text {
  text-align: center;
  font-size:10em;
  font-family: 'Miss Fajardose', cursive; /* fancy font */
  color: #F19FC0;
}

.mini-hero {
  font-size: 1.8em;
  font-weight: 400;
  color: #F19FC0;
  font-family: 'Indie Flower', cursive;
}

.mobile {
  display: none;
}

@media only screen and (max-device-width: 480px) {

  body {
    padding: 20px;  
  }
  #border {
    margin-top: -200px;
  }

  .hero-text {
    font-size: 4em;
  }

  .mini-hero {
    font-size: 1em; 
  }

  .desktop {
    display:none;
  }

  .mobile {
    display: block;
  }

  .handle {
    margin: 15px;
  }

}

.section-header {
  font-size:4.5em;
  font-weight: 400;
  font-family: 'Miss Fajardose', cursive;
  color: #F19FC0;

}
.section-content {
  display: flex;
  align-items: center;
  font-size: 1.2em;
}

.section-content img {
  display: block;
  vertical-align: middle;
}

/* Side Navigation Bar */

.handle {
  position:fixed;
  text-align: left;
  padding: 45px 15px;
  font-size:30px;
  cursor:pointer;
  color:#F19FC0;
}

.side-nav {
  height: 100%;
  width: 0; /* changes with javascript */
  position:fixed;
  z-index: 1; /* Stays on top */
  top: 0;
  left: 0;
  background-color: #ddb8c5;
  overflow-x: hidden; /* Disables horizontal scroll */
  transition: 0.5s; /* 0.5s transition effect to slide */
  padding-top: 60px;  
}

.side-nav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 1.8em;
  color: #fff;
  display: block;
  transition: 0.3s;
  font-family: 'Indie Flower', cursive; /* Cute Font */
}

.side-nav a:hover {
  color: #AD6B8D;
}

.side-nav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left .5s;
  padding: 20px;
}

#main-overlay {
  background-color: rgba(0,0,0,0);
}

@media screen and (max-height: 450px) {
  .side-nav {padding-top: 15px;}
  .side-nav a {font-size: 18px;}
}
/* END OF NAVIGATION BAR */

.row {
  display: flex;
  justify-content: center;
}

.text-image {
  align-self: center;
  width: 25%;
  float: left;
  margin: 5px;
  padding: 10px;
}

.block {
  display: block;
  margin: auto;
}

.fixed {
  height: 300px;
}

.clear {
  clear: both;
}

.fancy-link {
  text-decoration: none;
  padding: 5px;

}

.fancy-link:hover {
  color: #b21e9e;
}